.HomePage {
    width: 126.7rem;
    background: #000003;
    height: 67.5rem;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.neonText {
    color: #0ff;
    text-shadow:
        0 0 5px #0ff,
        0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 40px #ff00de,
        0 0 80px #ff00de;
}

/* глитч-анимация */
@keyframes glitch {
    0% {
        clip-path: inset(0 0 90% 0);
    }

    20% {
        clip-path: inset(10% 0 80% 0);
    }

    40% {
        clip-path: inset(20% 0 60% 0);
    }

    60% {
        clip-path: inset(40% 0 40% 0);
    }

    80% {
        clip-path: inset(80% 0 20% 0);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

.glitch {
    position: relative;
    animation: glitch 1s infinite;
}

.pageContent {
    width: 100%;
    height: 100vh;
    transform-style: preserve-3d;
}

.lightEffect {
    position: absolute;
    right: 0px;
    top: 0;
}

/* Начало */
.LevelUser {
    display: flex;
    align-items: center;
    gap: 8px;
    transform: translate(100px, 20px);
    max-width: 300px;
    font-weight: 743;
}

.avatarImg {
    width: 164px;
    height: 148px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: all 0.3s ease;
}

.avatarImg:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.avatarImg:active {
    opacity: 0.8;
    transform: scale(0.9);
}

.LevelUser>span {
    font-size: 35px;
    font-family: 'Big Shoulders';
    color: #7DFF68;
    letter-spacing: 7.5%;
}

.LevelUser>p {
    font-family: 'Big Shoulders';
    font-size: 20px;
    letter-spacing: 7.5%;
    transform: translateY(4px);
    color: #FFFFFF;
    opacity: 60%;
}

.CoinsUser {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Big Shoulders';
    font-weight: 743;
    transform: translate(230px, -40px);
    max-width: 300px;
}

.CoinsUser>button {
    width: 33px;
    height: 33px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #FFFFFF29;
    transition: all 0.3s ease;
}

.CoinsUser>span {
    font-size: 35px;
    letter-spacing: 7.5%;
    color: #7DFF68;
    transform: translateY(1px);
}

.CoinsUser>p {
    letter-spacing: 7.5%;
    text-transform: uppercase;
    text-align: center;
    opacity: 60%;
    transform: translateY(8px);
}

.creditsUser {
    width: 48px;
    height: 15px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 7.5%;
    line-height: auto;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    font-family: 'iceland';
    right: 555px;
    top: 50px;
}

.creditsUser:hover {
    color: #7DFF68;
}

.timesUser {
    width: 350px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    font-family: 'iceland';
    font-size: 20px;
    position: absolute;
    right: 140px;
    top: 50px;
}

.serverTime>span,
.LocalTime>span {
    opacity: 60%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.serverTime>span:hover,
.LocalTime>span:hover {
    color: #7DFF68;
    opacity: 90;
}

/* Левая часть */


.asideLeft {
    height: 56rem;
    width: 12.125rem;
    transform: translate(100px);
    position: relative;
}

.avatar {
    width: 194px;
    height: 175px;
    border: 1px solid #FFFFFF13;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.borderTopLeft,
.borderTopRight,
.borderBottomLeft,
.borderBottomRight {
    width: 10px;
    height: 10px;
    color: #E84A4A;
    position: absolute;
    border: 2px solid;
    z-index: 2;
}

.borderTopLeft {
    top: 0;
    left: 0;
    border-width: 2px 0 0 2px;
}

.borderTopRight {
    top: 0;
    right: 0;
    border-width: 2px 2px 0 0;
}

.borderBottomLeft {
    bottom: 0;
    left: 0;
    border-width: 0 0 2px 2px;
}

.borderBottomRight {
    bottom: 0;
    right: 0;
    border-width: 0 2px 2px 0;
}

.BioUser {
    width: 115px;
    height: 45px;
    display: flex;
    flex-direction: column;
    transform: translateY(20px);
}

.BioUser>span {
    font-family: 'iceland';
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 7.5%;
    line-height: auto;
}

.BioUser>p {
    font-family: 'Big Shoulders';
    font-weight: 743;
    text-transform: uppercase;
    color: #E84A4A;
    font-size: 18px;
    letter-spacing: 7.6%;
    line-height: auto;
    font-weight: black;
    margin: 0;
    transform: translateY(5px);
}

.occupation {
    width: 112px;
    height: 42px;
    transform: translateY(35px);
    text-transform: uppercase;
}

.occupation>span {
    font-family: 'iceland';
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 7.5%;
    line-height: auto;
}

.occupation>p {
    font-family: 'Big Shoulders';
    font-weight: 743;
    text-transform: uppercase;
    color: #E84A4A;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: auto;
    font-weight: black;
    margin: 0;
    transform: translateY(5px);
}

.corporation {
    width: 94px;
    height: 45px;
    text-transform: uppercase;
    transform: translateY(55px);
}

.corporation>span {
    font-family: 'iceland';
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 7.5%;
    line-height: auto;
}

.corporation>p {
    font-family: 'Big Shoulders';
    font-weight: 743;
    text-transform: uppercase;
    color: #E84A4A;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: auto;
    font-weight: black;
    margin: 0;
    transform: translateY(5px);
}

.availability {
    width: 194px;
    height: 45px;
    text-transform: uppercase;
    transform: translateY(70px);
}

.availability>span {
    font-family: 'iceland';
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 7.5%;
    line-height: auto;
}

.availability>p {
    font-family: 'Big Shoulders';
    font-weight: 743;
    text-transform: uppercase;
    color: #E84A4A;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: auto;
    font-weight: black;
    margin: 0;
    transform: translateY(5px);
    display: flex;
    width: 194px;
    background: transparent;
    border: 1px solid #E84A4A;
    justify-content: space-between;
    align-items: center;
    height: 23px;
    overflow: hidden;
    fill: #E84A4A;
    transition: all 0.3s ease;
    cursor: pointer;
}

.availability>p>span {
    transform: translateX(3px);
}

.availability>p:hover {
    background: #E84A4A;
    color: #000;
    fill: #000;
}

.availability>p>svg {
    transform: translateX(6px);
}

.social {
    width: 194px;
    height: 57px;
    text-transform: uppercase;
    transform: translateY(95px);
}

.social>span {
    font-family: 'iceland';
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 7.5%;
    line-height: auto;
    width: 129px;
}

.social>p {
    font-family: 'Big Shoulders';
    font-weight: 743;
    text-transform: uppercase;
    color: #E84A4A;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: auto;
    font-weight: black;
    margin: 0;
    transform: translateY(5px);
    display: flex;
    width: 194px;
    background: transparent;
    border: 1px solid #E84A4A;
    justify-content: space-between;
    align-items: center;
    height: 33px;
    overflow: hidden;
    fill: #E84A4A;
    transition: all 0.3s ease;
    cursor: pointer;
}

.social>p>span {
    transform: translateX(3px) translateY(2px);
}

.social>p:hover {
    background: #E84A4A;
    color: #000;
    fill: #000;
}

.social>p>svg {
    transform: translateX(-8px);
}

.motto {
    width: 200px;
    height: 70px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.motto>span {
    font-family: 'iceland';
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 7.5%;
    line-height: auto;
    width: 58px;
    height: 17px;
    margin: 0;
    color: #E84A4A;
}

.motto>p {
    font-family: 'iceland';
    font-weight: 743;
    text-transform: uppercase;
    color: #E84A4A;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: auto;
    font-weight: 400;
    letter-spacing: 7.5%;
    color: #B2B7BA;
    width: 200px;
    height: 49px;
    margin: 0;
    transform: translateY(5px);
}

/* Контент */

.content {
    width: 84rem;
    height: 56rem;
    position: absolute;
    top: 117px;
    left: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFFFFF13;
    background: url(../../../../svg/effectContent.svg);
    background-position: center;
    background-size: cover;
}

.contentTextSpan {
    width: 623px;
    text-transform: uppercase;
    height: 34px;
    font-family: 'iceland';
    font-size: 20px;
    transform: translateY(30px);
    letter-spacing: 7.5%;
}

.contentTextP {
    width: 623px;
    height: 14px;
    text-align: center;
    font-family: 'iceland';
    font-size: 15px;
    opacity: 70%;
    transform: translateY(30px);
    text-transform: uppercase;
    letter-spacing: 7.5%;
}

.navBar {
    width: 50.938rem;
    height: 4.063rem;
    position: absolute;
    bottom: -42px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.Beginning,
.Logs,
.Achievements,
.Creations,
.Games,
.Beginning.Active,
.Logs.Active,
.Achievements.Active,
.Creations.Active,
.Games.Active {
    width: 9.438rem;
    height: 4.063rem;
    display: flex;
    position: relative;
    cursor: pointer;
}



.Beginning.Active>.navText>p,
.Logs.Active>.navText>p,
.Achievements.Active>.navText>p,
.Creations.Active>.navText>p,
.Games.Active>.navText>p {
    width: 149px;
    height: 36px;
    margin: 0;
    background: #33333310;
    font-family: 'iceland';
    font-size: 10px;
}

.Beginning>.navText>span,
.Logs>.navText>span,
.Achievements>.navText>span,
.Creations>.navText>span,
.Games>.navText>span {
    background: #24242570;
    width: 149px;
    display: flex;
    justify-content: space-between;
    height: 23px;
    margin: 0;
    font-family: 'big shoulders';
    font-size: 18px;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 7.6%;
    align-items: center;
}

.Beginning>.lineNav,
.Logs>.lineNav,
.Achievements>.lineNav,
.Creations>.lineNav,
.Games>.lineNav {
    width: 2px;
    height: 59px;
    background: #2B2627;
}

.Beginning.Active>.lineNav,
.Logs.Active>.lineNav,
.Achievements.Active>.lineNav,
.Creations.Active>.lineNav,
.Games.Active>.lineNav {
    background: #E84A4A;
}

.navText>span {
    width: 149px;
    display: flex;
    justify-content: space-between;
    height: 23px;
    margin: 0;
    font-family: 'big shoulders';
    font-size: 18px;
    overflow: hidden;
    text-transform: uppercase;
    background: #E84A4A;
    font-weight: 500;
    letter-spacing: 7.6%;
    align-items: center;
}

.navIndicator {
    position: absolute;
    top: 0;
    height: 23px;
    background-color: #E84A4A;
    transition: left 0.5s ease, width 0.3s ease;
    z-index: 1;
    cursor: pointer;
}

.navText>span>span {
    transform: translateX(7px);
    position: relative;
    z-index: 2;
}

.navText>span>svg {
    transform: translateX(6px);
    position: relative;
    z-index: 2;
}

.navText>p {
    width: 149px;
    height: 36px;
    margin: 0;
    background: #33333310;
    font-family: 'iceland';
    font-size: 10px;
}

.navText>p>span {
    width: 102px;
    height: 34px;
    position: absolute;
    left: 10px;
    top: 25px;
    opacity: 50%;
}

/*Правая часть*/

.asideRight {
    height: 56rem;
    width: 12.25rem;
    position: relative;
    left: 1680px;
    top: -895px;
}

.line {
    width: 2px;
    height: 378px;
    background: #E84A4A;
}

.variantsQuest {
    width: 196px;
    height: 60px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    position: absolute;
    top: 0;
}

.variant {
    margin: 0;
    width: 196px;
    height: 35px;
    transition: height 0.2s;
    cursor: pointer;
    background: #E84A4A;
    opacity: 10%;
    font-family: 'iceland';
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.variant>span,
.active>span {
    user-select: none;
}

.active {
    height: 23px;
    font-size: 20px;
    background: #E84A4A;
    opacity: 1;
    font-family: 'Big Shoulders';
    margin: 0;
    transform: translateY(-2px);
    align-items: center;
    overflow: hidden;
}

.questName {
    width: 128px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 80px;
    left: 8px;
}

.questName>span {
    width: 100px;
    height: 14px;
    margin: 0;
    letter-spacing: 7.6%;
    font-family: 'iceland';
    font-size: 16px;
    text-transform: uppercase;
}

.questName>p {
    width: 128px;
    margin: 0;
    color: #E84A4A;
    height: 22px;
    font-size: 22px;
    font-family: 'Big Shoulders';
    font-weight: 743;
    text-transform: uppercase;
}

.goalText {
    width: 186px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 8px;
    top: 150px;
}

.goalText>span {
    width: 35px;
    height: 14px;
    font-family: 'iceland';
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 7.6%;
    margin: 0;
}

.goalText>p {
    width: 186px;
    height: 71px;
    font-family: 'iceland';
    text-transform: uppercase;
    margin: 0;
    color: #7A7A7A;
    transform: translateY(-20px);
}

.rewards {
    width: 90px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 290px;
    left: 8px;
    height: 95px;
}

.rewardsText {
    position: absolute;
    height: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'iceland';
    top: 0;
}

.rewards>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 55px;
    transform: translateY(30px);
}

.rewards>div>p {
    width: 30px;
    height: 14px;
    font-family: 'iceland';
    font-size: 20px;
    color: #7A7A7A;
    margin: 0;
}

.rewards>div>img {
    cursor: pointer;
    transition: all 0.3s ease;
}

.rewards>div>img:hover {
    transform: scale(1.2);
}

.visualSettings {
    width: 194px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 8px;
}

.visualSettings>div {
    width: 194px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visualSettingsOpen,
.music,
.soundEffects {
    text-transform: uppercase;
    font-family: 'Big Shoulders';
    font-size: 20px;
    font-weight: 743;
    letter-spacing: 7.5%;
    color: #E84A4A;
}

.visualSettingsOpen>span,
.music>span,
.soundEffects>span {
    transform: translateX(10px);
}

.music>button,
.soundEffects>button {
    width: 33px;
    height: 33px;
    background: transparent;
    outline: none;
    cursor: pointer;
    transform: translateX(2px);
}

.soundEffects>button>svg {
    transform: translate(-6px, -2px);
}

.music>button,
.soundEffects>button {
    fill: #E84A4A;
    transition: all 0.3s ease;
}

.music>button:hover,
.soundEffects>button:hover {
    background: #E84A4A;
    fill: #000;
}

.music>button>svg {
    transform: translate(-6px, -1px);
}

.visualSettingsOpen {
    border: 1px solid #262626;
    cursor: pointer;
    fill: #E84A4A;
    transition: all 0.3s ease;
    color: #E84A4A;

}

.visualSettingsOpen:hover {
    background: #E84A4A;
    color: #000;
    fill: #000;
    border: 1px solid #E84A4A;
}

.visualSettingsOpen>svg {
    transform: translateX(-6px);
}

/*модалка*/

.modalOverlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    height: 100vh;
    transition: left 0.3s ease;
}

.modalWind {
    background: #111;
    padding: 30px;
    color: white;
    height: 552px;
    width: 469px;
    position: relative;
    background: #E84A4A14;
    border: 1px solid #FFFFFF13;
    transform: translateY(-10px);
    clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%, 0 12px)
}

.modalP {
    font-family: 'iceland';
    font-size: 18px;
    font-weight: 200;
    color: #B2B7BA;
    text-transform: uppercase;
    transform: translateY(-25px);
}

.modalBorder {
    width: 30px;
    transform: rotate(-41deg);
    height: 2px;
    background: #FFFFFF13;
    position: absolute;
    left: -5px;
    top: 0;
}

.modalSpan {
    height: 22px;
    font-family: 'big shoulders';
    text-transform: uppercase;
    font-size: 24px;
    transform: translateY(-20px);
    letter-spacing: 1px;
}

.userNameModal,
.userSendingModal {
    width: 452px;
    height: 90px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-transform: uppercase;
}

.userNameModal>span,
.userSendingModal>span,
.userWriteModal {
    font-size: 20px;
    font-family: 'big shoulders';
    letter-spacing: 7.5%;
    color: #E84A4A;
    font-weight: 700;
}

.userNameModal>input,
.userSendingModal>input,
.userWriteModal>textarea {
    border: 1px solid #333333;
    background: #010103;
    padding-left: 15px;
    width: 435px;
    height: 45px;
    font-size: 25px;
    color: #fff;
    outline: none;
    font-family: 'iceland';
    text-transform: none;
}

.userNameModal>input::placeholder,
.userSendingModal>input::placeholder,
.userWriteModal>textarea::placeholder {
    text-transform: uppercase;
    color: #7A7A7A;
    font-size: 18px;
}

.userSendingModal {
    transform: translateY(40px);
}

.userWriteModal {
    width: 452px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateY(70px);
    text-transform: uppercase;
}

.userWriteModal>textarea::placeholder {
    transform: translateY(4px);
}

.userWriteModal>textarea {
    width: 435px;
    outline: none;
    background: #010103;
    width: 100%;
    max-width: 453px;
    min-width: 454px;
    overflow-y: auto;
    resize: vertical;
    box-sizing: border-box;
    height: 257px;
    min-height: 200px;
    max-height: 250px;
}

.modalBtns {
    width: 531px;
    display: flex;
    height: 45px;
    justify-content: space-between;
    transform: translateY(10px);
}

.sendMessageBtn,
.cancelBtn {
    width: 255px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'big shoulders';
    font-weight: 743;
    text-transform: uppercase;
    letter-spacing: 7.5%;
    font-size: 19px;
    transition: all 0.3s ease;
    background: transparent;
    color: #E84A4A;
    border: 1px solid #262626;
}

.sendMessageBtn:hover,
.cancelBtn:hover {
    background: #E84A4A;
    color: #000;
    border: none;
}

/* Модалка кредиты */

.creditContent {
    width: 550px;
    height: 640px;
}

.HeaderText>span {
    font-size: 20px;
    font-family: 'big shoulders';
    font-weight: 743;
    letter-spacing: 7.6%;
    text-transform: uppercase;
    height: 22px;
}

.HeaderText>p {
    margin: 0;
    font-size: 18px;
    color: #B2B7BA;
    font-family: 'iceland';
    text-transform: uppercase;
    transform: translateY(5px);
}

.creditsText {
    display: flex;
    gap: 30px;
    transform: translateY(30px);
}

.creditsLine {
    width: 550px;
    height: 2px;
    background: #E84A4A;
    transform: translateY(30px);
}

.leftPart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 520px;
    width: 152px;
    transform: translateY(50px);
    font-size: 20px;
    font-family: 'iceland';
    letter-spacing: 7.5%;
    text-transform: uppercase;
}

.leftPart>span:nth-child(3) {
    transform: translateY(-71px);
}

.leftPart>span:nth-child(4) {
    transform: translateY(21px);
}

.leftPart>span:nth-child(2) {
    transform: translateY(-26px);
}

.rightPart {
    width: 314px;
    transform: translateY(50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'iceland';
    color: #B2B7BA;
    font-size: 20px;
    height: 550px;
}

.rightPart>span:nth-child(2) {
    transform: translateY(25px);
}

.rightPart>span:nth-child(3) {
    height: 152px;
    width: 340px;
    transform: translateY(31px);
}

.rightPart>span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 48px;
}

.rightPart>span:nth-child(4) {
    transform: translateY(70px);
}

.rightPart>span:nth-child(5) {
    width: 350px;
    height: 150px;
    transform: translateY(100px);
}

.closeCredits {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 585px;
    text-transform: uppercase;
    font-family: 'iceland';
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 170px;
    cursor: pointer;
    box-shadow: 0 4px 0px 4px #E84A4A;
    transition: box-shadow 0.6s ease;
}

.closeCredits:hover {
    box-shadow: 0 -34px 0 -15px #E84A4A;
}

/* error */

.invalidInput {
    border-color: #E84A4A !important;
}